<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javen.dao.LoginDao" >
  <resultMap id="BaseResultMap" type="com.javen.model.Login" >
    <id      column="id"        property="id"        jdbcType="INTEGER" />
    <result  column="userName"  property="userName"  jdbcType="VARCHAR" />
    <result  column="passWord"  property="passWord"  jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
   	id,userName,passWord
  </sql>

    <select id="login" resultType="com.javen.model.Login" parameterType="com.javen.model.Login">
        select * from t_login where phone = #{phone} and passWord = #{passWord} and type =#{type}
    </select>

    <select id="StudentLogin" resultType="com.javen.model.Student" parameterType="com.javen.model.Login">
        select * from t_student where phone = #{phone} and passWord = #{passWord}
    </select>

    <select id="TeacherLogin" resultType="com.javen.model.Teacher" parameterType="com.javen.model.Login">
        select * from t_teacher where phone = #{phone} and passWord = #{passWord}
    </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from t_login
    where id = #{id,jdbcType=INTEGER}
  </select>

   <delete id="deleteByPrimaryKey"  parameterType="java.lang.Integer">
    delete from t_login
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   <insert id="insert" parameterType="com.javen.model.Login" >
    insert into t_login (userName, passWord)
    values (#{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR})
   </insert>
  
   <update id="updateByPrimaryKey"  parameterType="com.javen.model.Login" >
    update t_login
    set userName = #{userName,jdbcType=VARCHAR},
      passWord = #{passWord,jdbcType=VARCHAR}
      where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="SelectCount"  resultType="java.lang.Integer" >
         SELECT count(*) FROM t_login;
    </select>

    <select id="selectAll" resultMap="BaseResultMap"  parameterType="java.lang.Integer">
        select * from t_login limit #{param1},#{param2}
    </select>




</mapper>