<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javen.dao.WorkDao" >
    <select id="SelectCount"  resultType="java.lang.Integer" >
        SELECT count(*) FROM t_homework;
    </select>

    <select id="selectAll" resultType="com.javen.model.Work" parameterType="java.lang.Integer">
        select * from t_homework
        limit #{param1},#{param2}
    </select>

    <select id="selectClass" resultType="com.javen.model.Work" parameterType="java.util.Map">
        select * from t_homework where className=#{title}
        limit #{start},#{limit}
    </select>

    <select id="SelectCountClass"  resultType="java.lang.Integer" parameterType="com.javen.model.Work">
        SELECT count(*) FROM t_homework where className=#{className};
    </select>

    <insert id="insert" parameterType="com.javen.model.Correct">
        insert into t_point (workName,studentName,content,point) values (#{workName},#{studentName},#{content},#{point})
    </insert>

    <insert id="MakeWork" parameterType="com.javen.model.Work">
        insert into t_homework (name,className,data) values (#{name},#{className},#{data})
    </insert>
</mapper>